<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Report</title>
</head>
<body>
    <h1>Student Report</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Grade</th>
                <th>Favorite Subject</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(student => { %>
                <tr>
                    <td><%= student.name %></td>
                    <td><%= student.grade %></td>
                    <td><%= student.favSub %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>